body {
  margin: 0;
  padding: 0;
}

.basic-btn {
  /*เรียนเกี่ยวกับการกำนดค่า box-shadow: inset X,Y,Blur-radius,Spread-radius*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.a-btn {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 1; /* ทำให้เป็นสี่เหลี่ยม */
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Fill in btn*/
.basic-btn .fi-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}
.fi-btn:hover {
  color: #1E201E;
  background-color: #ECDFCC;
  border: 2px solid #1E201E;
  box-shadow: inset 0 0 0 2em #ECDFCC; 
  /* 
  inset เพิ่มเงาภายในปุ่ม 
  0 0 0 2em กำหนดว่าเงาไม่ขยายออกทางแกน X และ Y 
  ไม่มีเบลอ, และขยายเงาภายในออกไปขนาด 2em (2 เท่าของขนาดตัวอักษร) 
  */
}

/*Slide down btn*/
.basic-btn .sd-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}
.sd-btn:hover {
  color: #1E201E;
  background-color: #ECDFCC;
  border: 2px solid #1E201E;
  box-shadow: inset 0 3.5em 0 0  #ECDFCC; 
  /* 
  inset เพิ่มเงาภายในปุ่ม 3.5em 
  หมายถึงเงาถูกเลื่อนลงมาจากด้านบนขององค์ประกอบโดยระยะเท่ากับ 3.5 เท่าของขนาดตัวอักษร (em)
  */
}

/*Slide right btn*/
.basic-btn .sr-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}
.sr-btn:hover {
  color: #1E201E;
  background-color: #ECDFCC;
  border: 2px solid #1E201E;
  box-shadow: inset 5.5em 0 0 0  #ECDFCC;
   /*
    inset เพิ่มเงาภายในปุ่ม
   หมายถึง จะมีเงาภายในเป็นแถบด้านซ้าย เลื่อนเข้ามา
   */
}

/*Slide double btn*/
.basic-btn .sdb-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}

.sdb-btn:hover {
  color: #1E201E;
  background-color: #ECDFCC;
  border: 2px solid #1E201E;
  box-shadow: inset -5em 0 0 0  #ECDFCC, inset 5em 0 0 0  #ECDFCC;
 /*
 -5em 0 0 0  เงาด้านซ้าย เริ่มต้นจากขอบซ้ายและเลื่อนเข้ามา  
 5em 0 0 0 เงาด้านขวา เริ่มต้นจากขอบขวาและเลื่อนเข้ามา
  */
}

/*Slide Skew btn*/
.basic-btn .ss-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}

.ss-btn::before {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: #ECDFCC;
    height: 120%;
    left: -10%;
    transform: skewX(20deg);
    z-index: -1;
}
.ss-btn:hover::before {
  width: 120%;
}
.ss-btn:hover {
  color: #1E201E;
  border: 2px solid #1E201E;
}

/*Slide Skew Double btn*/
.basic-btn .ssd-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}

.ssd-btn::before {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #ECDFCC;
  height: 120%;
  left: -10%;
  transform: skewX(20deg);
  z-index: -1;
}

.ssd-btn:hover::before {
  width: 62%;
}

.ssd-btn::after {
  position: absolute;
  transition: .3s;
  content: '';
  width: 0;
  right: 50%;
  bottom: 0;
  height: 4px;
  background: #ECDFCC;
}

.ssd-btn::after {
  height: 120%;
  right: -10%;
  transform: skewX(20deg);
  z-index: -1;
}
.ssd-btn:hover::after {
  width: 62%;
}
.ssd-btn:hover {
  color: #1E201E;
  border: 2px solid #1E201E;
}


/*Circle Fill btn*/
.basic-btn .cf-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow:hidden; 
  transition: .4s;
  z-index: 1;
  border-radius: 5px;
}

.cf-btn:before {
  position: absolute;
  transition: .3s;
  content: '';
  top: 50%;
  background: #ECDFCC;
  border-radius: 50%;
  width: 0;
  height: 0;
  left: 50%;
  z-index: -1;
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.cf-btn:hover::before {
    width: 11em;
    height: 11em;
}

.cf-btn:hover {
  color: #1E201E;
  border: 2px solid #1E201E;
}

/*COLLISIONC CIRCLCLES*/
.basic-btn .cc-btn {
  text-decoration: none;
  color: #ECDFCC;
  font-family: Curier, sans-serif;
  font-size: 1rem;
  background-color: #1E201E;
  margin: 20px;
  padding: 24px 30px;
  border: 2px solid #ECDFCC;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  z-index: 1;
  border-radius: 5px;
}

.cc-btn::before,
.cc-btn::after {
  position: absolute;
  top: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background: #ECDFCC;
  border-radius: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.cc-btn::before {
  left: -20px;
}

.cc-btn::after {
  right: -20px;
}

.cc-btn:hover::before {
  animation: circle-left 0.7s forwards;
}

.cc-btn:hover::after {
  animation: circle-right 0.7s forwards;
}

@keyframes circle-left {
  0% {
    left: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 40%;
    width: 375px;
    height: 375px;
  }
}

@keyframes circle-right {
  0% {
    right: -20px;
    width: 20px;
    height: 20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 40%;
    width: 375px;
    height: 375px;
  }
}

.cc-btn:hover {
  color: #1E201E;
  border: 2px solid #1E201E;
}
